$basic_unit: 16px;
$color-primary: #ee6123;
$color-secondary: #464646;
// $color-tertiary: rgba(0, 0, 0, 0.6);
$color-basic-b: #a5acaf;
// $color-basic-w: #fff;
$primary-font: 'Fredoka One';

// $color-tertiary: #00000099;
// $color-basic-b: #000000DE;
// $color-basic-w-light: #FFFFFF98;